__pycache__/
main.py
test_params_create
.vscode
file.json
*.pyc
alchemy/*
Our_AirBnb/*
main*.py
versions/*
flasky-master/*
microblog/*
web_flask/templates/w3c_validator.py
w3c_validator.py

7-main.py
7-dump.sql
100-dump.sql
